{% extends 'static/base/base.html' %}
{% block 'title' %}
Inicio - Personal APP
{% endblock %}

{% block 'content' %}
{% if cliente %}
<div class="border-solid border-b-1 text-white container mx-auto my-4">
        <h1><i class="fa-solid fa-user"></i>{{cliente.nome}}</h1>
</div>
<section class="container mx-auto bg-white/60 p-4 rounded-3xl border-1 border-gray-300 shadow-md flex flex-col space-y-2">
    
    <div class="flex flex-wrap justify-between border-solid border-b-1 py-2">
    <h1 class="text-2xl"><i class="fa-solid fa-dumbbell"></i> Novo treino</h1>
    <button class="cursor-pointer bg-black rounded-2xl text-white p-2 " onclick="history.back()"><i class="fa-solid fa-arrow-left"></i>Voltar</button>
    </div>
    
    <form action="{% url 'treino_cliente' cliente.id %}" method="post" class="flex items-center space-x-2">
        {% csrf_token %}
        <div>
            <label class="block">Título:</label>
            <input type="text" name="titulo" class="bg-gray-300 p-2 rounded-3xl basis-128" />
        </div>
        <div>
            <label class="block">Inicio:</label>
            <input type="date" name="inicio" class="bg-gray-300 p-2 rounded-3xl basis-128" />
        </div>
        <div>
            <label class="block">Final:</label>
            <input type="date" name="final" class="bg-gray-300 p-2 rounded-3xl basis-128" />
        </div>
        <div>
            <br>
            <button class="cursor-pointer bg-green-600 p-2 rounded-full text-white shadow-md border-gray-300"><i class="fa-solid fa-plus"></i></button>
        </div>
    </form>
</section>
<section class="container my-2 mx-auto bg-white/60 p-4 rounded-3xl border-1 border-gray-300 shadow-md flex flex-wrap space-y-4">
    <div class="w-full border-solid border-b-1 p-2">
        <h1 class="text-2xl"><i class="fa-solid fa-dumbbell"></i> Treinos</h1>
    </div>
    <div class="flex flex-wrap items-center justify-between w-full">
    {% for t in treinos %}
        <div class="relative w-30 justify-center p-2 bg-white m-2 space-y-2 rounded-2xl shadow-md">
            <a href="{% url 'delete_treino_cliente' t.id %}" class="absolute -top-5 -right-3 p-2 rounded-full bg-white"><i class="fa-solid fa-trash text-red-600"></i></a>
            <h1 class="text-2xl bg-black text-white px-2 rounded-md">{{t.titulo}}</h1>
            <p>Inicio: {{t.data_inicio|date:'d/m/Y'}}</p>
            <p>Final: {{t.data_final|date:'d/m/Y'}}</p>
            <div class="flex items-center space-x-2 ">
            
                <a href="{% url 'add_treino_cliente' t.id %}" class="bg-gray-300 w-full p-1 flex justify-center rounded-2xl"><i class="fa-solid fa-pencil"></i></a>
                <a href="{% url 'view_treino_cliente' t.id %}" class="bg-blue-400 w-full p-1 flex justify-center rounded-2xl"><i class="fa-solid fa-eye"></i></a>
            
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}