{% extends 'static/base/base.html' %}
{% block 'title' %}
Inicio - Personal APP
{% endblock %}
{% block 'content' %}
{% if treino %}
<section class="bg-white p-4">
   <div class="broder-solid border-b-1 p-2 my-2">
    <h1 class="text-2xl">{{treino}}</h1>
   </div> 
   <div>
        {% for s in sessao %}
            <h1 class="bg-black text-white text-2xl p-2 rounded-2xl "><i class="fa-solid fa-dumbbell"></i>&nbsp;{{s.titulo}}</h1>
            <div class="flex flex-wrap items-center justify-between py-2">
                
                {% for e in exercicios %}
                
                {% if e.dia_semana_id == s.id %}
                    <div class="w-50 h-80 m-1">

                        <h1 class="flex justify-center bg-gray-300 text-black p-2 rounded-2xl items-center">
                            <span class="flex justify-center bg-gray-600 text-white w-6 h1-5 rounded-full">{{ forloop.counter }}</span>&nbsp;{{e.exercicio}}</h1>
                        <figure>
                            <img src="../../../media/{{e.imagem}}" class="h-30 mx-auto" />
                        </figure>
                        <p>Séries: {{e.series}}</p>
                        <p>Reps: {{e.repeticoes}}</p>
                        <p class="text-justify">Obs: {{e.observacao}}</p>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
   </div>
   
   
</section>
{% endif %}
{% endblock %}